*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
p::selection{
    color: black;
    background: rgb(248, 190, 82);
}
a::selection{
    color: black;
    background: rgb(248, 190, 82);
}
mark::selection{
    color: black;
    background: rgb(248, 190, 82);
}
img::selection{
    background: rgb(248, 190, 82);
}
 
/* Paleta de colores */
.color1{
   color: rgb(248, 190, 82); 
}
.color2{
    color: white;
}
.color3{
    color: black;
}
.color4{
    color: wheat;
}
.color5{
    color: red;
}

/* Tamaños */
.size1{
    font-size: 1vw;
}
.size2{
    font-size: 1.5vw;
}
.size3{
    font-size: 2vw;
}
.size4{
    font-size: 2.5vw;
}
.size5{
    font-size: 3vw;
}

/* Fuentes */
.font1{
    font-family: 'Pushster', cursive;
}
.font2{
    font-family: 'Nunito', sans-serif;
}
.font3{
    font-family: 'Oswald', sans-serif;
}
/* ----------------- */

body{
    min-height: 100vh;
    background-color: #1b1e20;
}
.body2{
    min-height: 100vh;
    background-color: brown;
}
.body3{
    min-height: 100vh;
    /* background-image: linear-gradient(to top, black 20%, red); */
    background-color: #35383a;
    height: auto;
}
#logo{
    color: rgb(248, 190, 82);
    padding-left: 10px;
    font-size: 25px;
    font-family: 'Pushster', cursive;
    text-shadow: 1.5px 1.5px 1px rgb(218, 1, 1);
}
.logoimg{
    padding-bottom: 20px;
}
#navb a{
    color: rgb(248, 190, 82);
    font-family: 'Nunito', sans-serif;
}
.navbar a:hover{
    background-color: rgb(81, 87, 94);
    border-radius: 10px;
}
#banner{
    background-image: url(../assets/img/banner.jpg);
    background-size: contain;
}
#banner p{
    text-shadow: 1px 1px 1px black;
    padding: 1rem;
    font-size: 2.5vw;
}

/* El Menú de login (Cortesía de w3schools.com) */
#login{
    background-color: rgb(248, 190, 82);
    color: #212529 !important;
    border-radius: 100px;
    width: 40px;
}
.close{
    color: rgb(248, 190, 82);
}
.close:hover{
    color: rgb(248, 190, 82);
}
.modal-body label{
    font-family: 'Nunito', sans-serif;
}
.modal-content{
    background-color: rgb(81, 87, 94);
}
.loginbtn{
    background-color: rgb(248, 190, 82);
    font-family: 'Nunito', sans-serif;
}
/* Fin del menú de login */

/* Animación arcoiris para el botón "TOP 10" */
#rainbow{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    animation: rainbow 10s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0%{
      color: red;
    }
    10%{
      color: orange;
    }
    20%{
      color: yellow;
    }
    30%{
      color: greenyellow;
    }
    40%{
        color: green;
    }
    50%{
        color: aqua;
    }
    60%{
      color: blue;
    }
    70%{
        color: purple;
    }
    80%{
        color: violet;
    }
    90%{
        color:palevioletred;
    }
    100%{
        color: orangered;
    }
}
/* Fin de animación */


/* Inicio del carousel */
.car{
    padding-bottom: 20px;
}
.carousel-item .img-fluid {
    width:90%;
    height:100%;
}
.carousel-item h3{
    color: red;
    text-shadow: 1.5px 1.5px 1.5px black;
    font-family: 'Nunito', sans-serif;
}
.carousel-item p{
    color: rgb(248, 190, 82);
    text-shadow: 1.5px 1.5px 1.5px black;
    font-family: 'Nunito', sans-serif;
}
.carousel-inner img{
    border-radius: 20px;
}
/* Esto es para cambiar el color de los controles del carousel */
.carousel-indicators li{
    background-color: rgb(248, 190, 82);
    width: 5vw;
}
.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(248, 190, 82)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
    
}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(248, 190, 82)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}
/* ---------------------- Fin del carousel ------------------- */


.image{
    width: 80%;
    padding-bottom: 3vh;
}
form{    
    padding-left: 10px;
    padding-bottom: 30px;
}
label{
    color: rgb(248, 190, 82);
    font-family: 'Nunito', sans-serif;
}
iframe{
    padding-top: 2vh;
    max-width: 100%;
}
/* .contenedor{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
} */


.item{
    border: 2px solid rgb(248, 190, 82);
}
.cat-section{
    margin-top: 30px;
    padding-left: 20px;
    color: rgb(248, 190, 82);
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 1px black;
}
.cat-title{
    color: rgb(248, 190, 82);
    text-align: center;
}
.cat-bar{
    margin-left: 10px;
    margin-bottom: 10px;
    align-content: center;
    height: 3px;
    width: 90%;
    background-color: rgb(248, 190, 82);
    border-radius: 50px;
}




/* .posterimage {
    position: relative;
    width: 100%;
    height: auto;
    border: 2px solid rgb(248, 190, 82);
}
.cat-img {
    display: block;
    width: 100%;

}
.cat-block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.cat-block:hover {
    opacity: 1;
}
.cat-text {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    overflow-x: hidden;
} */


/* Botón para ir al inicio de la página */
#TOP{
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    background-color:rgb(248, 190, 82);
    bottom: 40px;
    right: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 3.9vw;
    color: black;
    font-size: 1.5vw;
    border-radius: 50px;
    z-index: 99;
}
/* ------------------------------------ */

/* Inicio del footer */
footer{
    position: sticky;
    top: 100%;
}
.footerdiv{
    height:5px;
    background-color: rgb(248, 190, 82);
}
footer ul{
    list-style:none;
}
footer li{
    color: rgb(248, 190, 82);
    font-size: 1em;
}
footer i{
    font-size: 1em;
}
.footer-logo{
    text-shadow: 1.5px 1.5px 1px rgb(218, 1, 1);
}
.fab{
    color: rgb(248, 190, 82);
}
.social{
    letter-spacing: 5px;
}
.social i:hover{
    color: rgb(202, 10, 10);
}
#copyright{
    background-color: rgba(0, 0, 0, 0.486);
}
/* Fin del footer */

@media (max-width: 991px){
    .contact{
        text-align: center
    }
    .footer-logo{
        text-align: center
    }
    #login{
        display: none;
    }
    #logo{
        padding-top: 20px;
        padding-left: 60px;
    }
}
@media (min-width: 991px){
    #login2{
        display: none;
    }
}